html{
    cursor: url(../imagens/mata_mosquito.png) 30 30, auto;
}

body{
    background-image: url(../imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mosquito1{
    width: 60px;
    height: 60px;
}

.mosquito2{
    width: 90px;
    height: 90px;
}

.mosquito3{
    width: 105px;
    height: 105px;
}

.panel{
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0;
    left: 0;
    border-top:1px solid #FFF;
    background-color: #FFF;
    opacity: 0.7;
}

.lives{
    float: left;
}

#timer{
    float: left;
    font-size: 20px;
    font-weight: bold;
    text-indent: 3px;
}

.btn-dark{
    background-color: #585858;
    border: 2px solid white;
    transition: background-color 0.2s, border 0.2s;
}

.btn-dark:hover{
    background-color: #424242;
}

.btn-danger{
    background-color: rgb(199, 61, 61);
    transition: background-color 0.2s;
}

.lastButton{
    margin-top: 5px;
}